{{ $path := .File.BaseFileName -}}

<a href="{{ .RelPermalink }}" class="summary-title">{{ .Title }}</a>
<a href="{{ .RelPermalink }}">
    {{ $post := . -}}
    {{ with .Params.thumbnail -}}
      {{ $thumbnail := replaceRE "(.*)\\.([^.]+)$" "$1@240.$2" . }}
      {{ with printf "content/%s/%s" $path $thumbnail | imageConfig }}
        {{ if (and .Width .Height) }}
        {{ $thumbnail_height := div (mul 120 .Height) .Width }}
        <img class="thumbnail" width="120" src="{{ $post.RelPermalink }}{{ $thumbnail }}" height="{{ $thumbnail_height }}">
        {{ else }}
        <img class="thumbnail" width="120" src="{{ $post.RelPermalink }}{{ $thumbnail }}">
        {{ end }}

      {{ end -}}
    {{ end -}}
    <span class="excerpt">{{ .Description | plainify }}</span>
</a>
