{{ define "extrahead" -}}
  <meta name="twitter:card" content="summary_large_image">

  {{ if .Params.thumbnail }}
    <meta name="twitter:image" content="{{ .URL | absURL }}{{ .Params.thumbnail }}">
  {{ end }}

{{ end }}

{{ define "body" }}
  <div class="container">

    <header class="main-header"><a href="{{ .Site.BaseURL }}" class="logo"></a>
      <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      </h1>

      {{ partial "sidebar.html" . }}
    </header>
    <section>

    <article class="page">
      <header>
        <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
      </header>

      <div class="post-content">

      {{ range where .Data.Pages "Section" "home" }}
        {{ .Content}}
      {{ end }}
      </div>
    </article>
    </section>
{{ end }}
