{{ define "title" }}{{ .Site.Title }} | {{ .Title }}{{ end }}

{{ define "extrahead" -}}
<meta class="swiftype" name="popularity" data-type="integer" content="0" />
<meta name="twitter:title" content="{{ replace .Title "-" " " | title }}">
<meta name="og:title" content="{{ replace .Title "-" " " | title }}">
{{ end }}

{{ define "body" }}
  {{ $taxonomy_title := .Title }}
  {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
  {{ partial "taxonomy" (dict "node" . "paginator" $paginator "taxonomy_type" "Category" "taxonomy_name" $taxonomy_title) }}
{{ end }}
