{{ define "title" }}{{ .Site.Title }} | {{ replace .Title "-" " " | title }}{{ end }}

{{ define "extrahead" -}}
<meta name="twitter:title" content="{{ replace .Title "-" " " | title }}">
<meta name="og:title" content="{{ replace .Title "-" " " | title }}">
{{ end }}

{{ define "body" }}
  {{ $taxonomy_title := .Title | lower }}
  {{ $paginator := .Paginate (where (where .Data.Pages "Type" "post") ".Params.draft" "!=" true) }}
  {{ partial "taxonomy" (dict "node" . "paginator" $paginator "taxonomy_type" "Tag" "taxonomy_name" $taxonomy_title) }}
{{ end }}
