{{ define "extrahead" -}}
<meta name="twitter:card" content="summary_large_image">

{{ $thumbnail := (cond (isset .Params "card_image") .Params.card_image .Params.thumbnail) }}
{{ if $thumbnail }}
<meta name="twitter:image"
      content="{{ .Permalink | absURL }}{{ $thumbnail }}">
<meta name="og:image"
      content="{{ .Permalink | absURL }}{{ $thumbnail }}">
<meta class="swiftype" name="image" data-type="enum"
      content="{{ .Permalink | absURL }}{{ $thumbnail }}" />
{{ end }}
{{ if isset .Params "canonical_url" }}
<link rel="canonical" href="{{ .Params.canonical_url }}">
{{ end }}
<meta name="og:title" content="{{ .Title }}">
<meta name="twitter:title" content="{{ .Title }}">
<meta class="swiftype" name="published_at" data-type="date"
      content="{{ .Date.Format "January 2, 2006" }}" />
{{ end }}

{{ define "body" }}
<div class="container">
  <header class="main-header"><a href="{{ .Site.BaseURL }}" class="logo"></a>
    <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    {{ partial "sidebar.html" . }}
  </header>
  <section>
    <article class="{{ .Type }}">
      <header>
        {{ if eq .Type "post" }}
        <div class="post-meta">
          {{ if .Date.IsZero }}
            Draft
          {{ else }}
            <time class="post-time">
              {{ .Date.Format "January 2, 2006" }}
            </time>
          {{ end }}
          <span class="byline">
            <span class="sep">&nbsp;&mdash;&nbsp;</span>
            <a href="https://twitter.com/{{ .Site.Params.twitterhandle }}">
              <span class="author">{{ .Site.Params.author.name }}</span>
            </a>
          </span>
        </div>
        {{ end }}
        <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
      </header>
      <div class="post-content">{{ .Content }}</div>
    </article>
    <footer class="entry-meta">
      {{ with (index .Params "category") }}
        Categories:
        {{ range $i, $elem := . -}}
          {{ if $i }}, {{ end }}<a href="{{ "category" | relURL }}/{{ $elem | urlize }}/" title="All posts in {{ $elem }}">{{ $elem }}</a>
        {{- end }}
      {{ end }}
      {{ with (index .Params "tag") }}
        <br>
        Tags:
        {{ range $i, $elem := . }}{{ if $i }}, {{ end }}<a href="{{ "tag" | relURL }}/{{ $elem | urlize }}/" title="All posts tagged {{ $elem }}">{{ $elem }}</a>
        {{- end }}
      {{ end }}
    </footer>

    {{ if eq .Type "post" }}
      {{ if not .Draft }}
        <nav class="nav-below">
          {{/* Prev/next are reversed: confusing, I know. */}}
          {{ if .Prev }}
            {{ partial "nav_prev" .Prev }}
          {{ end }}
          {{ if .Next }}
            {{ partial "nav_next" .Next }}
          {{ end }}
      </nav>
      {{ end }}

      {{ if .Params.series }}
        <!-- assume this article is part of only one series -->
        {{ range first 1 .Params.series }}
          {{ $series := index $.Site.Taxonomies.series . }}
          <h1>Part of the <a class="series" href="/series/{{ . }}">{{ (index $.Site.Data.series .).title }} Series</a>:</h1>
          <ul class="post-list">
            {{ range sort $series ".Page.Date" "asc" }}
              {{ if not .Page.Params.draft }}
                <li>{{ partial "blog_post_summary" .Page }}</li>
              {{ end }}
            {{ end }}
          </ul>
        {{ end }}
      {{ end }}

    <footer>
      <script async data-uid="792993d3fa" src="https://emptysquare.kit.com/792993d3fa/index.js"></script>
    </footer>

    {{ end }}<!-- if eq .Type "post" -->
    {{ if .Params.enable_lightbox }}
    <link rel="stylesheet" href="/static/lightbox.css">
    <script src="/static/js/lightbox.min.js" type="text/javascript"></script>
    <script src="/static/js/lightbox.emptysquare.js"
            type="text/javascript"></script>
    {{ end }}

  </section>
</div>
{{ end }}
