{{ define "title" }}{{ .Site.Title }} | {{ .Title }}{{ end }}

{{ define "body" }}

    <div class="backgroundplaceholder1"></div>

    <div class="backgroundplaceholder2"></div>

    <div class="backgroundplaceholder3"></div>

    <div class="backgroundplaceholder4"></div>

    <div class="backgroundplaceholder5"></div>

    <div class="backgroundplaceholder6"></div>

  <div class="container">

    <header class="main-header"><a href="{{ .Site.BaseURL }}" class="logo"></a>
      <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      </h1>

{{ partial "sidebar.html" . }}
    </header>

  <section>
  <header><h1 class="title page-title">Category: {{ .Title }}</h1></header>
  {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
  <ul class="post-list">
    {{ range $paginator.Pages }}
      <li>{{ partial "blog_post_summary" . }}</li>
    {{ end }}
  </ul>
  {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
  <nav class="nav-below nav-with-current">
    <div class="nav-previous">
    {{ if $paginator.HasNext }}
      <a href="{{ .URL }}page/{{ $paginator.Next.PageNumber }}"><span class="meta-nav">&larr;&nbsp;</span>Older</a>
    {{ end }}
    </div>
    <div class="nav-current">
      Page {{ $paginator.PageNumber }}
    </div>

    <div class="nav-next">
      {{ if $paginator.HasPrev }}
        <a href="{{ .URL }}page/{{ $paginator.Prev.PageNumber }}">Newer<span class="meta-nav">&nbsp;&rarr;</span></a>
      {{ end }}
    </div>
  </nav>
{{ end }}

  </section>
  </div>
{{ end }}
