{{ define "title" }}{{ .Site.Title }} | All Articles{{ end }}

{{ define "extrahead" -}}
<meta class="swiftype" name="popularity" data-type="integer" content="0" />
<meta name="og:title" content="All Articles">
<meta name="twitter:title" content="All Articles">
{{ end }}

{{ define "body" }}
  {{ $paginator := .Paginate (where (where .Site.Pages "Type" "post") ".Params.draft" "!=" true) }}
  {{ partial "taxonomy" (dict "node" . "paginator" $paginator "taxonomy_name" "All Articles") }}
{{ end }}
